aws {
    region = 'us-east-1'
    batch {
        cliPath = '/usr/bin/aws'
        maxParallelTransfers = 4
        maxTransferAttempts = 3
    }
}

process {
    executor = 'awsbatch'
    queue = 'EZH2'
    
    // Default resources
    cpus = 8
    memory = '4 GB'
    
    // Specific process requirements for CUT&RUN
    withName: 'NFCORE_CUTANDRUN:CUTANDRUN:FASTQC' {
        cpus = 8
        memory = '6 GB'
    }
    
    withName: 'NFCORE_CUTANDRUN:CUTANDRUN:BWA_MEM' {
        cpus = 16
        memory = '32 GB'
    }
    
    withName: 'NFCORE_CUTANDRUN:CUTANDRUN:MACS2_CALLPEAK' {
        cpus = 8
        memory = '16 GB'
    }
}

// S3 work directory
workDir = 's3://kbzcutrun/'  // Replace with your bucket

docker {
    enabled = true
}
